body {
    background-color: white; 
    color:white; /* Texto branco */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove paddings padrão */
    overflow-x: hidden;

}

.cart-shopping{
padding: 0;
margin: 0;
color: white;
cursor: pointer;
}

h3{
    color: black;
    text-align: center  ;
}





#rodape {
    background-color: #000000;
    color: white;
    text-align: 30px;
    padding: 10px;
    bottom: 0;
    width: 100%;
}