body {
    background-color: white; 
    color:white; /* Texto branco */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove paddings padrão */
    overflow-x: hidden;

}

.cart-shopping{
padding: 10px;
color: white;
cursor: pointer;
justify-content: right;
}

h3{
    color: black;
}
#rodape {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}