body {
    background-color: white; 
    color:white; /* Texto branco */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove paddings padrão */
    overflow-x: hidden;

}

.cart-shopping{
padding: 20px;
background-color:black;
color: white;
}

h3{
    color: blueviolet;;
}