#rodape{
    background-color: #000000;
    text-align:left;
    padding: 1px;
    bottom: 0;
    width: 100%;
}

.logo{
    color: white;
    font-size: small;
 
}

.categorias{
border: none;
display: flex;
justify-content: center;
}

#rodape_final{

    background-color: #000000;
    color: white;
    
}