#rodape{
    background-color: #000000;
    text-align:left;
    padding: -7px;
    bottom: 0;
    width: 100%;
}

.logo{
    color: white;
    font-size: small;
}

.seach{
    margin-left: 80%;
    padding: 15px;
   
}